---
import Layout from "../layouts/Layout.astro";
---

<Layout
  ><div class="grow flex items-center justify-center">
    <h1 class="text-3xl text-center">
      <span class="text-8xl block">404</span>Page not found
    </h1>
  </div></Layout
>
