---
import AboutBlock from "../components/AboutBlock.astro";
import PortfolioBlock from "../components/PortfolioBlock.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="grow flex gap-8 flex-col lg:flex-row">
    <AboutBlock />
    <PortfolioBlock />
  </main>
</Layout>
