---
import { Github, Telegram } from "simple-icons-astro";
import Button from "../components/Button.astro";
---

<section class="flex flex-col gap-4">
  <h2 class="text-2xl">Контакты</h2>
  <div class="flex gap-2">
    <Button outline href="https://t.me/constaui"><Telegram />Telegram</Button>
    <Button outline href="https://github.com/tiredtiredness"
      ><Github /> Github</Button
    >
  </div>
</section>
