---
import Button from "./Button.astro";
---

<header class="flex gap-8 items-center justify-between">
  <div class="flex-1 flex gap-4 items-end">
    <p
      class="outline outline-offset-8 outline-transparent text-3xl leading-5 hover:outline-neutral-50 rounded-3xl transition-colors"
    >
      constaui
    </p>
    <p class="text-neutral-400 leading-3 hidden lg:block">
      <time id="time"
        >{
          new Date().toLocaleTimeString("ru-RU", {
            hour: "2-digit",
            minute: "2-digit",
          })
        }</time
      > Санкт-Петербург, Россия
    </p>
  </div>

  <a
    href="https://t.me/constaui"
    rel="noopener noreferrer"
    class="bg-neutral-50 text-neutral-950 rounded-full py-2 px-2 leading-3 uppercase"
    >Связаться</a
  >
</header>

<script>
  const timeEl = document.getElementById("time");

  function updateTime() {
    const currentTime = new Date().toLocaleTimeString("ru-RU", {
      hour: "2-digit",
      minute: "2-digit",
    });
    if (!timeEl) {
      return;
    }
    timeEl.textContent = currentTime;
  }

  document.addEventListener("DOMContentLoaded", () => {
    updateTime();
    setInterval(updateTime, 1000);
  });
</script>
