---
import SkillsSection from "./SkillsSection.astro";
import ContactsSection from "./ContactsSection.astro";
import ProjectsSection from "./ProjectsSection.astro";
---

<div class="flex-2 flex flex-col gap-8">
  <ProjectsSection />
  <SkillsSection />
  <ContactsSection />
</div>
